/*==============================================================================
// File:        styles.scss
// Package:     Webiny / Mr Zen
// Synopsis:    Main styles for the website - SASS
//============================================================================*/

body {
  font-family: Montserrat,sans-serif;
}

iframe {
  border: none;
}

.zen-italic {
  font-style: italic;
}

.zen-bold {
  font-weight: bold;
}
