/*==============================================================================
// File:        styles.scss
// Package:     Webiny / Mr Zen
// Synopsis:    Main styles for the website - SASS
//============================================================================*/

body {
  font-family: Montserrat,sans-serif;
}

iframe {
  border: none;
}

.zen-italic {
  font-style: italic;
}

.zen-bold {
  font-weight: bold;
}

/*==============================================================================
// Nuxt page transitions
//============================================================================*/

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
