/*==============================================================================
// File:        styles.scss
// Package:     Webiny / Mr Zen
// Synopsis:    Main styles for the website - SASS
//============================================================================*/

body {
  font-family: Montserrat,sans-serif;
}

iframe {
  border: none;
}

.zen-italic {
  font-style: italic;
}

.zen-bold {
  font-weight: bold;
}

.home-heading {
  position: absolute;
  z-index: 20;
  width: 100%;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;


  h1 {
    @include fluid-prop(font-size, $viewport-xs, $viewport-xl, 48px, 92px);

    color: var(--mz-base-white);
  }
}

.video-preview {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    font-family: "object-fit:cover";
    object-fit: cover;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}

/*==============================================================================
// Nuxt page transitions
//============================================================================*/

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.layout-enter-active,
.layout-leave-active {
  transition: all 0.4s;
}
.layout-enter-from,
.layout-leave-to {
  filter: grayscale(1);
}
